/* semantic color variables for this project */
:root {
  --color-text: #586e75;
  --color-background: #fdf6e3;
  --color-border: #586e75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #93a1a1;
    --color-background: #002b36;
    --color-border: #93a1a1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
